* {
    margin: 0;
    padding: 0;
}


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;900&display=swap');

:root {
    --main-bg-color: #101010;
    --button-bg-color: #6072B1;
    --main-red-color: #FF0000;
    --main-white-color: #EDF7F6;
}


.explainHome {
    font-size: 1.2rem;
}

main {
    min-height: 90vh;
}

footer {
    min-height: 10vh;
}

.smallSpot {
    color: var(--button-bg-color);
}

h1,
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
    color: var(--main-font-color);
}

p,
a {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: var(--main-font-color) !important;
}

p {
    margin-bottom: 0 !important;
}

.body {
    background-color: var(--main-bg-color);
}



#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* css feed user */
.miniProfilUser,
.miniProfilUserComment {
    width: 4vw;
}


.feedUser h2 {
    font-size: 1rem;
}


.card img {
    object-fit: contain;
    object-position: 0px 95%;
}



/* BANNIERE LIKE COMMENTS... */
.banniereLike {
    background-color: #101010cc;
    border-radius: 5px 5px 0 0;
}

/* BOUTON LIKE */
.fa-thumbs-up {
    cursor: pointer;
}



/* Collapse for comments */
.commentsList {
    height: 40vh !important;
}

.commentsList::-webkit-scrollbar {
    display: none;
}

.commentsHour {
    color: var(--button-bg-color) !important;
    font-size: 0.7rem;
}

#message-text {
    background-color: #101010e6;
    color: var(--main-white-color);
}

.accordion-collapse {
    background-color: #101010e6;
}


/*  NOTIFUSER */
.notifBanniere {
    background-color: var(--main-bg-color);
}

.cardNotif {
    background-color: var(--main-white-color) !important;
}

/* ProfilUser */

.profilUserBanniere img {
    width: 10vw;
}

/* INFOPROFIL */

.avatar {
    width: 150px;
}

/* CRUD */

.cardCrud {
    background-color: var(--main-bg-color) !important;
}


/* CRUD */

/* Report page */

.reportTitle {
    font-size: 1.2rem;
}


/* Town Choice */

.list-group-item {
    padding: 0 !important;
}

.townsList,
.usersList {
    height: 40vh;
}

/* COMMENTS */


.commentUser::-webkit-scrollbar {
    display: none;
}


/* BTN COLOR */

.btn-primary {
    background-color: var(--button-bg-color) !important;
}

.btn-filter {
    background-color: var(--button-bg-color) !important;
}

/* LOGO  */


.logoPrincipal {
    width: 90px;
}

.logoHome {
    width: 200px;
}

.xtrem {
    color: var(--main-white-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
}

.spot {
    color: var(--button-bg-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;
}

.publication {
    color: var(--main-white-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

.petitspot {
    color: var(--button-bg-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

.hrSlogan {
    width: 50%;
    height: 5px;
    border-style: solid;
    border-color: var(--button-bg-color);
    border-width: 10px 0 0 0;
    border-radius: 15px;
}

.hrSlogan:before {
    display: block;
    height: 5px;
    border-style: solid;
    border-color: var(--button-bg-color);
    border-width: 0 0 10px 0;
    border-radius: 15px;
}

/* MAP ADD PUBLICATION */

#mapid {
    height: 40vh;
    width: 100%;
    margin: 0 auto;
}


/* TABLEAU  */

table.neumorphic {
    border-spacing: 0;
    color: var(--main-bg-color);
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    background: var(--main-font-color);
}

table>a {
    text-decoration: none;
}

.dataTables_info {
    color: var(--main-font-color) !important;
}

label {
    color: var(--main-font-color) !important;
}

#dataTable_previous,
#dataTable_next {
    color: var(--main-font-color) !important;
}

.telmail,
.seeProfil {
    text-decoration: none !important;
    color: var(--main-bg-color) !important;
}

.deleteApt,
.deleteComment {
    text-decoration: none !important;
    color: var(--main-red-color) !important;
}


#pseudo {
    font-weight: 600;
    text-decoration: none !important;
    color: var(--main-bg-color) !important;
}

.fullname {
    font-weight: 600;
}

.content {
    background: var(--main-font-color);
    width: 80vw;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

.btnUpdate {
    color: var(--main-font-color) !important;
    font-weight: 900;
    font-size: 18px;
    background: var(--button-bg-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #000000,
        -5px -5px 10px #17171773;
    margin: auto;
}



/*  AVATAR  */

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.avatar_0 {
    background-image: url(/public/assets/uploads/photoProfil/avatar_0.png);
}

.avatar_1 {
    background-image: url(/public/assets/uploads/photoProfil/avatar_1.png);
}

.avatar_2 {
    background-image: url(/public/assets/uploads/photoProfil/avatar_2.png);
}

.avatar_3 {
    background-image: url(/public/assets/uploads/photoProfil/avatar_3.png);
}

.avatar_4 {
    background-image: url(/public/assets/uploads/photoProfil/avatar_4.png);
}


.cc-selector input:active+.avatar-cc {
    opacity: .9;
}

.cc-selector input:checked+.avatar-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.avatar-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.avatar-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}









/*----------------------------------------------------------- MEDIA QUERIES --------------------- */
@media only screen and (max-width: 780px) {
    .dNoneMobil {
        display: none;
    }

    .avatar-cc {
        height: 100px;
        width: 40%;
    }

    .profilUserBanniere img {
        width: 50px;
    }

    .content {
        background: var(--main-font-color);
        border-radius: 10px;
        padding: 30px 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }

    .miniProfilUser {
        width: 10vw;
    }
}



@media only screen and (max-width: 1000px) {
    .dNoneTab {
        display: none;
    }
}