@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0 !important;
}

.body {
    background-color: #101010;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* css feed user */
.miniProfilUser {
    width: 30px;
}

.feedUser h2 {
    font-size: 1rem;
}


.card img {
    object-fit: contain;
    object-position: 0px 95%;
}

/* BANNIERE LIKE COMMENTS... */
.banniereLike {
    background-color: rgb(36, 37, 38, 0.6);
    border-radius: 5px 5px 0 0;
}

/* Collapse for comments */
.commentsList {
    height: 15vh !important;
}

#message-text {
    background-color: rgb(36, 37, 38, 0.6);
    color: white;
}

.accordion-collapse {
    background-color: rgba(0, 0, 0, 0.8);
}


/*  NOTIFUSER */
.notifBanniere {
    background-color: #242526;
}

.cardNotif {
    background-color: black !important;
}

/* ProfilUser */

/* .profilUserBanniere {
    background-color: rgb(96, 114, 177);
} */


/* INFOPROFIL */

.avatar {
    width: 150px;
}

/* CRUD */

.cardCrud {
    background-color: black !important;
}


/* CRUD */

/* Report page */

.reportTitle {
    font-size: 1.2rem;
}


/* Town Choice */

.list-group-item {
    padding: 0 !important;
}

.townsList,
.usersList {
    height: 40vh;
}