@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #101010;
    --button-bg-color: #2B59C3;
    --main-red-color: #FF0000;
}

p {
    margin-bottom: 0 !important;
}

.body {
    background-color: var(--main-bg-color);
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* css feed user */
.miniProfilUser {
    width: 30px;
}

.feedUser h2 {
    font-size: 1rem;
}


.card img {
    object-fit: contain;
    object-position: 0px 95%;
}

/* BANNIERE LIKE COMMENTS... */
.banniereLike {
    background-color: #101010cc;
    border-radius: 5px 5px 0 0;
}

/* Collapse for comments */
.commentsList {
    height: 15vh !important;
}

#message-text {
    background-color: #101010e6;
    color: #EDF7F6;
}

.accordion-collapse {
    background-color: #101010e6;
}


/*  NOTIFUSER */
.notifBanniere {
    background-color: var(--main-bg-color);
}

.cardNotif {
    background-color: #EDF7F6 !important;
}

/* ProfilUser */

/* .profilUserBanniere {
    background-color: rgb(96, 114, 177);
} */


/* INFOPROFIL */

.avatar {
    width: 150px;
}

/* CRUD */

.cardCrud {
    background-color: var(--main-bg-color) !important;
}


/* CRUD */

/* Report page */

.reportTitle {
    font-size: 1.2rem;
}


/* Town Choice */

.list-group-item {
    padding: 0 !important;
}

.townsList,
.usersList {
    height: 40vh;
}

/* COMMENTS */


.commentUser::-webkit-scrollbar {
    display: none;
}


/* BTN COLOR */

.btn-primary {
    background-color: var(--button-bg-color) !important;
}

.btn-filter {
    background-color: var(--button-bg-color) !important;
}

/* LOGO  */


.logoPrincipal {
    width: 90px;
}

.logoHome {
    width: 250px;

}

/* MAP ADD PUBLICATION */

#mapid {
    height: 40vh;
    width: 100%;
    margin: 0 auto;
}


/* TABLEAU  */

table.neumorphic {
    border-spacing: 0;
    color: var(--main-bg-color);
    text-align: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    background: var(--main-font-color);
}

table>a {
    text-decoration: none;
}

.dataTables_info {
    color: var(--main-font-color) !important;
}

label {
    color: var(--main-font-color) !important;
}

#dataTable_previous,
#dataTable_next {
    color: var(--main-font-color) !important;
}

.telmail,
.seeProfil {
    text-decoration: none !important;
    color: var(--main-bg-color) !important;
}

.deleteApt,
.deleteComment {
    text-decoration: none !important;
    color: var(--main-red-color) !important;
}


#pseudo {
    font-weight: 600;
    text-decoration: none !important;
    color: var(--main-bg-color) !important;

}

.fullname {
    font-weight: 600;
}

.content {
    background: var(--main-font-color);
    width: 80vw;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

.btnUpdate {
    color: var(--main-font-color) !important;
    font-weight: 900;
    font-size: 18px;
    background: var(--button-bg-color) !important;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #000000,
        -5px -5px 10px #17171773;
    margin: auto;
}

/* FOR MOBIL */
@media only screen and (max-width: 780px) {
    .dNoneMobil {
        display: none;
    }




    .content {
        background: var(--main-font-color);
        border-radius: 10px;
        padding: 30px 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width: 1000px) {
    .dNoneTab {
        display: none;
    }